
@{
    ViewBag.Title = "NoAutorizado";
    Layout = "~/Views/Shared/_LayoutSinSideBar.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="red">
                <i class="fa fa-warning fa-lg"></i>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="error-content text-center">
                            <span class="fa fa-hand-paper-o hand"></span>
                            <h2 class="unauth-title"><span class="light-gray"></span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <div class="message ">
                            <span>
                                MsgNoAutorizado <br>
                                <span class="message-sub">MsgSubNoAutorizado</span>
                            </span>
                        </div>

                    </div>
                </div>
                <a class="btn btn-default pull-right" href="">BotonRegresarLogin<div class="ripple-container"></div></a>
            </div>
        </div>
    </div>
</div>

