solucion/packages/
solucion/VSIXDraw507Plantilla/obj/
solucion/com.draw507/com.draw507.web/bin/
solucion/com.draw507/com.draw507.web/obj/
solucion/com.draw507/com.draw507.basededatos/bin/
solucion/com.draw507/com.draw507.basededatos/obj/
solucion/com.draw507/com.draw507.entidades/obj/
solucion/com.draw507/com.draw507.util/obj/
solucion/com.draw507/com.draw507.logica/obj/
solucion/com.draw507/com.draw507.logica/bin/
solucion/.vs/com.draw507.plantilla/v16/Server/
solucion/com.draw507/com.draw507.web/App_Data/Logs/
