
@{
    ViewBag.Title = "Inicio";
}
@section sideBar{
    @Html.Partial("_SideBar")
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">TITULO</h4>
            </div>
            <div class="card-content">
                @*@Html.Partial("_Formulario")*@
            </div>
        </div>
    </div>
</div>
@section scripts{
    
}

