<div class="modal fade bs-example-modal-sm" id="confirm-dialog" tabindex="-1"
     role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="confirm-dialog-header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div id="confirm-dialog-body" class="modal-body">

            </div>
            <div id="confirm-dialog-footer" class="modal-footer">
                <button id="confirm-cancel" data-dismiss="modal" type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                <button id="confirm-ok" type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Continuar</button>
            </div>
        </div>
    </div>
</div>
